/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

body {
    font-size: 1.6rem;
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/*===================================================================================================================================*/

.container { 
	height: 1400px;
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
}

/*Navigation===============================================*/
.navigationBar {
	height: 60px;
    width: 90.9%;
    margin: 20px 4.5% 20px;
	display: flex;
	justify-content: space-between;
}

.navigationBar nav {
    align-self: center;
    display: flex;
    flex-direction: row;
}

.navigationBar img {
	align-self: center;
    justify-self: flex-end;
}

.navigationBar nav a {
	justify-self: flex-start;
    margin-right: 7.5%;
    color: grey;
    text-decoration: none;
}

/*Header==================================================*/
header {
	width: 90.9%;
    height: 450px;
    margin: 0px 4.5 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header h1 {
	font-size: 7.0rem;
	margin: auto;
	text-align: center;
}

.header button {
    border: 1px solid black;
    background-color: white;
	width: 51.8%;
	height: 30px;
}

/*TopContent===============================================*/
.topContent {
    width: 90.9%;
    height: 160px;
    margin: 0px 4.5% 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.leftDiv {
    margin-right: 1.1%;
}

/*BodyIMG==================================================*/
.bodyImg {
    display: flex;
    margin: 0px 4.5% 0px;
}

.middle-img {
    width: 90.9%;
}

/*BottomContent============================================*/

.bottomContent {
	width: 90.9%;
    height: 200px;
    margin: 0px 4.5% 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.divOne, .divTwo, .divThree {
	width: 30%;
}

/*Contact=================================================*/
.contactContent {
	width: 90.9%;
    height: 200px;
    margin: 0px 4.5% 0px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

/*Footer==================================================*/
footer {
    width: 90.9%;
    margin: 0px 4.5% 0px;
	justify-content: center;
	align-content: flex-end;
	display: flex;
	color: grey;
}

hr {
    width: 90.9%;
}

/*Media Query===========================================*/

/*Tablets*/
@media only screen and (max-width: 800px) {

    .container {
        height: 1300px;
        width: 100%;
        margin: 0px;
    }

    .bodyImg {
        width: 93.75%;
    }

    .navigationBar {
        height: auto;
        display: flex;
        flex-direction: column;
        margin-left: 3.1%;
        margin-right: 3.1%;
        width: 93.75%;
    }

    .navigationBar img {
        margin: 30px 0px 30px;
        order: 1;
    }

    .navigationBar nav {
        order: 2;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .navigationBar nav a {
        color: grey;
        text-decoration: none;
    }

    header img {
        display: none;
    }
    
    header {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 93.75%;
        margin: 60px 3.1% 60px 3.1%;
    }

    hr {
        margin-left: 3.1%;
        margin-right: 3.1%;
        width: 93.75%;
    }
    
    .header h1 {
        font-size: 7.0rem;
        margin: auto;
        text-align: center;
    }
    
    .header button{
        border: 1px solid black;
        border-radius: 5px;
        width: 51.8%;
        height: 30px;
    }

    .topContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 93.75%;
        margin-left: 3.1%;
        margin-right: 3.1%;
    }
    .bottomContent {
        width: 93.75%;
        margin-left: 3.1%;
        margin-right: 3.1%;
    }

    .bodyImg {
        margin-left: 3.1%;
        margin-right: 3.1%;
    }

    .middle-img {
        width: 93.75%;
    }

    .contactContent {
        width: 93.75%;
        margin-left: 3.1%;
        margin-right: 3.1%;
    }

    .leftDiv {
        width: 46.2%;
        margin-left: 20px;
    }

    .rightDiv {
        width: 46.2%;
        margin-right: 20px;
    }

    footer {
        width: 93.75%;
        margin-left: 3.1%;
        margin-right: 3.1%;
    }

    .header button {
        border-radius: 0px;
    }
}


/*Mobile*/
@media only screen and (max-width: 500px) {
    .container {
    width: 500px;
    height: 1950px;
    margin: 0px;
    }

    .navigationBar {
        width: 100%;
        margin: 0px;
    }

    .navigationBar img {
        height: 35px;
        margin: 20px 0px 20px;
        order: 1;
    }

    .navigationBar nav {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .navigationBar nav a {
        color: grey;
        display: block;
        width: 500px;
        height: 56px;
        font-size: 2.0rem;
        margin: 0px 0px 0px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid black;
        text-decoration: none;
    }

    .header {
        height: 380px;
        width: 100%;
        margin: 0px 0px 0px;
        border-top: 1px solid black;
    }

    hr {
        width: 91.6%;
        margin: 0px 20px 0px;
        border: 1px solid black;
    }

    .topContent {
        width: 92%;
        height: 300px;
        margin: 0px 20px 0px;
        display: block;
    }

    .topContent div {
        width: 92%;
        margin: 50px 0px 10px;
    }

    .bodyImg {
        width: 100%;
        margin: 0px;
    }

    .middle-img {
        width: 92%;
        margin: 0px 20px 0px;
    }

    .bottomContent {
        height: 440px;
        width: 92%;
        margin: 0px 20px 0px;
        display: block;
    }

    .bottomContent div {
        width: 92%;
        margin: 30px 0px 60px;
    }

    .contactContent {
        height: 175px;
        width: 92%;
        margin: 30px 4% 0px;
    }

    footer {
        width: 92%;
        margin: 0px 20px 0px;
    }

    .header button {
        border-radius: 0px;
    }
}